
<navbar></navbar>


  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">İstediğiniz her yerden çözümlere kolaylıkla ulaşabilirsiniz</h1>
        <p class="lead">İster okulda ister evden uygulamaya erişin ve istediğiniz çözümlere ulaşın. Zamandan tasarruf edin. </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
         
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="d-block mx-lg-auto img-fluid" src="https://cdn.shopify.com/s/files/1/2677/4416/files/unnamed_large.jpg?v=1566843748" alt="" width="700" height="500">
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

 <div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Kategoriler</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://miro.medium.com/max/3000/1*HbF1gnBkto8AhSu1oThlew.jpeg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Üslü Sayılar</h2>
             <button type="button" class="btn btn-success" routerLink="/uslusayilar">Soru Çöz</button>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://miro.medium.com/max/3000/1*HbF1gnBkto8AhSu1oThlew.jpeg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Köklü Sayılar</h2>
             <button type="button" class="btn btn-success" routerLink="/koklusayilar">Soru Çöz</button>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://miro.medium.com/max/3000/1*HbF1gnBkto8AhSu1oThlew.jpeg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Çarpanlar</h2>
             <button type="button" class="btn btn-success" routerLink="/carpan">Soru Çöz</button>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://miro.medium.com/max/3000/1*HbF1gnBkto8AhSu1oThlew.jpeg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Eşitsizlikler</h2>
             <button type="button" class="btn btn-success" routerLink="/esitsizlik">Soru Çöz</button>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://miro.medium.com/max/3000/1*HbF1gnBkto8AhSu1oThlew.jpeg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Faiz Problemleri</h2>
             <button type="button" class="btn btn-success" routerLink="/faizproblem">Soru Çöz</button>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://miro.medium.com/max/3000/1*HbF1gnBkto8AhSu1oThlew.jpeg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Obeb Okek</h2>
            <button type="button" class="btn btn-success" routerLink="/obebokek">Soru Çöz</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<div class="b-example-divider"></div>
  

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://www.assignmentexpert.com/blog/wp-content/uploads/2018/11/how-to-solve-my-math.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Çözüm adımlarını takip edebilirsiniz</h1>
        <p class="lead">Daha fazla pratik yap ve çözümlere odaklan.</p>
      </div>
    </div>
  </div>
  

   


  

 
<div class="container">
  <footer class="py-3 my-4">
    <p class="text-center text-muted">&copy; 2021 - Matematik Projesi</p>
  </footer>
</div>

<div class="b-example-divider"></div>


